<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Honor | Donate with Blockchain</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    
  </head>

  <body class="bg-light">

    <header>
      <div id ="navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-dark bg-dark border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light">Honor 2.0</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/">Home</a>
        <a class="p-2 text-light" href="#">About</a>
        <a class="p-2 text-light" href="#">Contact</a>
        <a class="btn btn-outline-light" href="users/register">Sign up</a>
        <a class="btn btn-outline-light" href="users/login">Log In</a>
      </nav>
    </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Help The World with Blockchain</h1>
          <p class="lead text-light">Not all of us can do great things but we can do small things with great love.</p>
          <p>
            <a href="#" class="btn btn-primary my-2 btn-lg">Help</a>
            <a href="#" class="btn btn-info my-2 btn-lg">About</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/1-min.jpg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Australian Wildfires Relief.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$1,232,084</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/2-min.jpeg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Provide Food.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$2,234,406</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/3-min.jpg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Rebuild Houses Impacted by Earthquakes.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$991,707</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/4-min.jpg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Help Fight Coronavirus.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$1,211,113</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/5-min.jpg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Empower and Educate Girls.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$502,257</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/images/6.jpg" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                  <p class="card-text">Support Children in Uganda.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">Donate</button>
                    </div>
                    <small class="text-primary">$1,500,504</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Honor 2.0, 2020 <a href="../../">Homepage</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
