<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Honor | Donate with Blockchain</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    
  </head>

  <body class="bg-light">

    <header>
      <div id ="navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-dark bg-dark border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light">Honor 2.0</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/">Home</a>
        <a class="p-2 text-light" href="#">About</a>
        <a class="p-2 text-light" href="#">Contact</a>
        <a class="btn btn-outline-light" href="./register">Sign up</a>
        <a class="btn btn-outline-light" href="./login">Log In</a>
      </nav>
    </div>
    </header>
      <div class="container">
        <div class="py-5 text-center">    
          <h2>Log In</h2>
        </div>
        <div class="row">
          <div class="col-md-8 order-md-1">
                <form action="/users/login" method="post">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="Username">Username:</label>
                      <input type="text" id="username" name="username"><br><br>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="Password">Password:</label>
                      <input type="password" id="password" name="password"><br><br>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                  </div>               
                </form>
          </div>
        </div>
      </div>
<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Honor 2.0, 2020 <a href="../../">Homepage</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    </body>
</html>